@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #040404;
    --side-bar-background: #090909;
    --top-nav-background: #000000;
    --foreground: #252931;
    --muted: #99a1b2;
    --muted-foreground: #131d33;
    --accent: #e5e7eb;
    --accent-foreground: #1a202c;
    --popover: #1a202c;
    --popover-foreground: #e5e7eb;
    --border: #2e333d;
    --input: #2e333d;
    --card: #070707;
    --card-foreground: #e5e7eb;
    --primary: #e5e7eb;
    --primary-foreground: #1a202c;
    --secondary: #252931;
    --secondary-foreground: #e5e7eb;
    --destructive: #7b1d1d;
    --destructive-foreground: #e5e7eb;
    --ring: #2e333d;
  }
}


@layer base {
  * {
    border-color: var(--accent);
  }
  
  body {
    background-color: var(--background);
    color: var(--accent);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  .side-bar {
    background-color: var(--side-bar-background);
  }
  .top-nav {
    background-color: var(--top-nav-background);
  }
  .card {
    background-color: var(--card);
    color: var(--card-foreground);
    cursor: pointer;
  }
  .title {
    font-family: hypik;
  }
  .title-wrapper {
    background: url("https://img.pikbest.com/wp/202346/chaotic-vibrant-3d-water-pattern-a-stunningly-pop-art-texture-ideal-for-summer-backdrops_9747178.jpg!w700wp");
  }
  .input {
    background-color: var(--background);
  }
}

@layer utilities {
  .gradient-border {
    position: relative;
  }
  .gradient-border::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent, var(--accent), transparent);
    pointer-events: none;
  }
}

.dropdown:focus-within .dropdown-menu {
  /* @apply block; */
  display:block;
}

@font-face {
  font-family: "hypik";
  src: local("hypik"),url("../fonts/Brant-FREE.otf");
}